/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
}

.navbar {
			display: flex;
			align-items: flex-end;
}

header nav {
		display: flex;
		align-items: center;
}

header nav a {
	margin-left: 40px;
	margin-right: 40px;
	color: black;
	text-decoration: none;
}

header nav a:hover {
	color: #e00000;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content img {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.top-content .text-container {
    width: 97%;
    padding-left: 2%;
    padding-bottom: 20px;
}

.middle-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
}

.middle-content h2 {
		margin: 10px 0;
}

.middle-content p {
		margin-bottom: 10px;
}

.middle-content button {
		margin-bottom: 20px;
		background-color: white;
		border: 2px;
		border-style: solid;
		border-color: black;
		border-radius: 10px;
		padding: 8px 10px;
		width: 125px;
		font-size: 14px;
	}

.middle-content .box {
    width: 48%;
		margin-bottom: 50px;
    border-bottom: 1px dashed black;
}

#box-one {
	background-color: teal;
}

#box-two {
	background-color: gold;
}

#box-three {
	background-color: cadetblue;
}

#box-four {
	background-color: coral;
}

#box-five {
	background-color: crimson;
}

#box-six {
	background-color: forestgreen;
}

#box-seven {
	background-color: darkorchid;
}

#box-eight {
	background-color: hotpink;
}

#box-nine {
	background-color: indigo;
}

#box-ten {
	background-color: dodgerblue;
}

.bottom-content {
	margin-bottom: 20px;
}

.bottom-content .text-container {
		width: 97%;
		padding-left: 2%;
		padding-bottom: 20px;
	}

.bottom-content h2 {
	margin-bottom: 15px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
